:global {
  .am-grid-item{
    min-height: ~'90px;'
  }
  .special-badge .am-list-line .am-list-extra {
    padding: 0;
    flex-basis: 10%;
  }
  .am-list-header{
    background: #fff;
  }
  .am-grid-icon{
   width: 50% !important;
    height: 50% !important;
  }
}
